<div class="container bg-light dd-site-content-vertical-padding">
  <button type="button" class="btn btn-success btn-block" (click)="toggleState()">Создать галлерею</button>
</div>


<div class="dd-site-content dd-site-textblock" *ngIf="state==='active'">
  <div class="row">
    <div class="col-12">
      <p>Для создания новой галлереи нужно:</p>
      <ol>
        <li>Выбрать раздел для галлереи</li>
        <li>Написать название галлереи</li>
        <li>Выбрать файлы для загрузки</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-6">

      <div ngbDropdown class="dropdown show">
        <button class="btn btn-primary btn-block" id="dropdownBasic1" ngbDropdownToggle>{{chosenGallery}}</button>

        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button #selectedGallery *ngFor="let gallery of galleries$ | async" class="dropdown-item d-inline-block"
                  (click)="onGallerySelect(gallery.text, gallery.url)">{{gallery.text}}
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label for="galleryNameInput">Название новой галлереи</label>
          <input #galleryNameInput class="form-control" id="galleryNameInput" type="text"
                 (change)="onGalleryNameChanged(galleryNameInput)">
        </div>
      </div>

    </div>
    <div class="col-6">

      <app-upload-gallery #uploader [chosenGalleryKey]="chosenGalleryKey" [chosenGalleryPath]="chosenGalleryPath"
                          (filesChosen)="onFilesChosen()" (loaded)="onFilesLoaded()"></app-upload-gallery>

      <button class="btn btn-primary" [disabled]="!isGalleryChosen || !isGalleryNamed || !isFilesChosen"
              (click)="uploadGallery(uploader)">Сохранить
      </button>

    </div>
  </div>
  <app-alert-selfclosing [success]="success"></app-alert-selfclosing>
</div>

