<main role="main" class="container-fluid bg-light ">
  <div class="dd-site-main-logo text-center noselect">
    <p>Darya Dobrovolska</p>
    <br>
    <hr class="dd-site-dotted-line">
  </div>
  <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
      <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div *ngFor="let item of mainMenu$ | async">

            <div ngbDropdown *ngIf="checkIsDropDown(item.url)">
              <a class="nav-item nav-link dd-site-menu noselect" ngbDropdownToggle>{{item.text | uppercase}}</a>
              <div ngbDropdownMenu>
                <button *ngFor="let gallery of galleriesMenu$ | async" class="dropdown-item"
                        routerLink={{getGalleryURL(gallery.url)}} routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                >{{gallery.text | uppercase}}
                </button>
              </div>
            </div>

            <div *ngIf="!checkIsDropDown(item.url)">
              <a class="nav-item nav-link dd-site-menu"
                 routerLink={{item.url}} routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                {{item.text | uppercase}}</a>
            </div>

          </div>

          <div *ngIf="isLogged | async">
            <a class="nav-item nav-link dd-site-menu noselect"
               routerLink={{adminPath}} routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">АДМИНКА</a>
          </div>

          <div *ngIf="isLogged | async">
            <a (click)="logout()" class="nav-item nav-link dd-site-menu noselect">выйти</a>
          </div>


        </div>
      </div>
    </div>
  </nav>
  <hr class="dd-site-dotted-line ">

  <router-outlet></router-outlet>

</main>


<footer class="footer dd-site-footer">
  <div class="container-fluid dd-site-footer-container">
    <div class="container-fluid text-center">
      <span class="text-muted">Darya Dobrovolska © 2018</span>
    </div>
  </div>
</footer>







